html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.container {
 display: grid;
 height: 100%;
 grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: 
    #0891b2;
   
}

.main {
    display: flex;
   
    background-color: linen;
    padding: 20px;
}

.input {
    height: 20px;
}

.addBtn {
    height: 20px;
}